<!DOCTYPE html>
<html>
    <head>
        <title>Card Generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/album.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet">


        <meta charset="UTF-8">
    </head>

    <body>      
        <h2>Spotify User Page {{ nombre_usuario }}</h2>
        <br>
    
    <div class="album-grid">
        {% for album in albums %}
            <div class="album">
                <a href="{{ url_for('card_result', album=album.album_link) }}">
                    <img src="{{ album.album_art }}" alt="{{ album.album_name }}" onclick="showLoadingModal('{{ url_for('card_result', album=album.album_link)}}')">
                </a>
                <div class="icons">
                    <a href="{{ url_for('card_result', album=album.album_link, icon='vinyl.jpg') }}" onclick="showLoadingModal('{{ url_for('card_result', album=album.album_link, icon='vinyl.jpg')}}')">
                        <img src="{{ url_for('static', filename='images/vinyl.jpg') }}" alt="Vinyl" class="icon">
                    </a>
                    <a href="{{ url_for('card_result', album=album.album_link, icon='cd.jpg') }}" onclick="showLoadingModal('{{ url_for('card_result', album=album.album_link, icon='cd.jpg')}}')">
                        <img src="{{ url_for('static', filename='images/cd.jpg') }}" alt="CD" class="icon">
                    </a>
                    <a href="{{ url_for('card_result', album=album.album_link, icon='cassette.jpg') }}" onclick="showLoadingModal('{{ url_for('card_result', album=album.album_link, icon='cassette.jpg')}}')">
                        <img src="{{ url_for('static', filename='images/cassette.jpg') }}" alt="Cassette" class="icon">
                    </a>
                  </div>                  
                <h3>{{ album.album_name }}</h3>
                <p>{{ album.album_artist }}</p>
            </div>
        {% endfor %}
    </div>      

    
<!-- Capa transparente para bloquear la iteración con los elementos -->
<div id="overlay"></div>

<!-- Ventana modal -->
<div id="modal">
  <!-- Contenido de la ventana modal -->
  <div class="modal-content">
    <p>Cargando...</p>
  </div>
</div>
  
  <script>
 // Función para mostrar la ventana modal
function showLoadingModal(url) {
  // Mostrar la capa transparente y la ventana modal
  $('#overlay').show();
  $('#modal').show();

  // Realizar petición Ajax
  $.ajax({
    url: url,
    method: 'GET',
    success: function(response) {
      // Actualizar contenido de la ventana modal con el resultado
      $('#modal .modal-content').html(response);

      // Ocultar la capa transparente y la ventana modal después de unos segundos
      setTimeout(function() {
        $('#overlay').hide();
        $('#modal').hide();
      }, 3000);
    },
    error: function() {
      // Mostrar mensaje de error en la ventana modal
      $('#modal .modal-content').html('Error al cargar el archivo.');

      // Ocultar la capa transparente y la ventana modal después de unos segundos
      setTimeout(function() {
        $('#overlay').hide();
        $('#modal').hide();
      }, 3000);
    }
  });
}

// Evento click para el botón de abrir la ventana modal
$('#openModalBtn').on('click', function() {
  showLoadingModal();
});


  </script>
    </body>
</html>