
{% extends "layout.html" %}
{% block body %}
        <form method="POST" action="/card">
            <label for="album_input">Enter Spotify Album Link</label>
            <input type="text" id="album_link" name="album_input">
            <input type="submit" value="Submit">
        </form>
        <br>
        
        <form action="/login" method="post">
            <button type="submit">Login with Spotify</button>
        </form>

        <!--a href="{{ url_for('login') }}" class="btn-spotify">Log in with Spotify<img src="spotify-icon.png" alt="Spotify logo"></a>-->


        


{% endblock %}