{% extends "layout.html" %}
{% block content %}
        <form id="form-card" method="get" action="/card">
            <label for="album_input">Spotify Album Link: </label>
            <input type="text" id="album_link" name="album_input">
            <input type="submit" onclick="loading();" value="Submit">
        </form>
        <br>
        <form id="form-albums" action="/albums/" method="get">
            <label for="album_search">Artist name:</label>
            <input type="text" id="album_search" name="album_search">
            <button type="submit" onclick="loading();">Buscar</button>
        </form>
        
        <form id="form-login" action="/login" method="post">
            <button type="submit" onclick="loading();">Login with Spotify</button>
        </form>
{% endblock %}